<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    h1{
      font: size 40px;
      font-family:Roboto;
      text-align:center;
    }
  </style>
    <title>Document</title>
</head>
<body>
    <h1>Moin Zimpel</h1>
    <img src="https://flask-temperature.zimpel.repl.co/static/notebook.jpg" alt="HTML Dog" height="320">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</body>
  <h2>Open Positions</h2>
  <p>Todo machen wir später</p>
  <button>Contact us</button>
</html>